/* TAGS */
body
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}


main
{
    z-index: 299;
    padding-top: 4%; /*tai sao cho nay padding dc ma margin ko dc*/
}



nav div
{
    width: 33.3%;
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

/* CLASS */
.box-1
{
    flex: 1;
    border-right: 1px solid #ccc;
    scrollbar-width: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.box-2
{
    flex: 3;
    text-align: center;
}

.box-3
{
    border-left: 1px solid #ccc;
    flex: 1;
    position: relative;
}

.button
{
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 7px 10px;
    width: 190px;    
}

.button:hover
{
    background-color: #ccc;
}

.clr
{
    clear: both;
}

.conditions
{
    position: absolute;
    left: 450px;
}

.container
{
    display: flex;
    min-height: 50vh;
}

.nav-1, .nav-3
{
    flex: 1;
}

.nav-2
{
    flex: 3;
    text-align: center;
    margin: auto;
}

.search-result
{
    border: 1px solid #ccc;  
    background-color: #ccc; 
    height: 250px;
    margin: 20px;
    padding: 20px; 
    position: relative;
    width: 700px; 
}

.img-result-1
{
    position: absolute;
    left: 25px;
    z-index: 1;
}

.img-result-2
{
    position: absolute;
    left: 400px;
    z-index: 2;
}

.test-ads
{
    margin-top: 30px;
    padding: 50px;
    background-color: antiquewhite;
}

/* ID */
#box-3-1
{
    position: absolute;
    left: 20px;
}

#sort-by
{
    margin-top: 15px; 
    padding: 3px 0; 
    position: fixed; 
    background-color: white; 
    width: 15.05%;
}
